.card {
  &-desc {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-cart {
    height: 48px;
    background-color: #000000;
    color: #ffffff;
  }
  &-price:hover {
    color: indigo;
  }
}
.Card > a > div > :nth-child(2) {
  padding: 0px !important;
  margin: 0px !important;
}

.Card > a > div {
  border-radius: 0px !important;
}
.card-item {
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5;
}
