.shop{
  &-products {
    margin: 20px 0 !important
  }
}
.mySwiper3 .swiper-slide {
  opacity: 1 !important;
  transform: none !important;
  filter: none !important;
}

// .mySwiper > div > div {
//   // border:1px solid #000;
//   width: 200px !important;
// }